* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0px auto;
    font-weight: 300;
    color: #000000;
}

form {
    padding: 5px 25px;
    display: flex;
    font-weight: bolder;
    gap: 10px;
    justify-content: center;
}


a {
    color: #0000ff;
    text-decoration: none;
}

a:hover {
text-decoration: underline;
}

#wrapper,
#loginform {
margin: 0 auto;
padding-bottom: 25px;
background: #eee;
width: 100%;
/* max-width: 100%; */
/* border: 2px solid #212121; */
border-radius: 4px;
}

#loginform {
padding-top: 18px;
text-align: center;
}

#loginform p {
padding: 15px 25px;
font-size: 1.4rem;
font-weight: bold;
}

#chatbox {
text-align: left;
margin: 0 auto;
margin-bottom: 25px;
padding: 10px;
background: #fff;
font-weight: bolder;
color: #000;
height: 77vh;
width: 100%;
border: 1px solid #000000;
overflow: auto;
border-radius: 4px;
border-bottom: 4px solid #a7a7a7;
}

#chatbox .box-bundle {
  appearance: none;
  background: dodgerblue linear-gradient(22deg, aqua, dodgerblue, deeppink) fixed;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  width: fit-content;
  padding: 5px;
  margin: 150px auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#chatbox .box-bundle ul li {
    list-style-type: none;
    padding: 5px;
    margin: 4px;
    border-radius: 5px;
    color: white;
}

#usermsg {
    flex: 1;
    border-radius: 4px;
    border: 1px solid #55c783;
    padding: .2rem .5rem .5rem;
}

.chat-button {
    background: #55c783;
    border-radius: 2px;
    border: 1px solid #55c783;
    color: white;
    padding: .1rem .3rem .5rem;
    font-size: 1.2rem;
    font-weight: bold;
    width: 20%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.chat-button:hover {
    background: #894ee8;
    color: black;
}

#menu {
    padding: 10px 20px;
    display: flex;
}

#menu .welcome {
    flex: 1;
    
}

#exit {
color: white;
background: #c62828;
padding: 4px 8px;
border-radius: 4px;
font-weight: bold;
}

