
/*CS Skeleton */
* {
    margin: 0;
    padding: 0;
}

/*List Skeleton*/

li {
    list-style: none;
}

/*Body Skeleton*/

body {
    margin: 0px auto;
    font-weight: 300;
    color: #0a0137;
}

/*Form Skeleton*/

form {
    padding: 5px 25px;
    display: flex;
    font-weight: bolder;
    gap: 10px;
    justify-content: center;
}

#usermsg {
    flex: 1;
    border-radius: 4px;
    border: 1px solid #55c783;
    padding: .2rem .5rem .5rem;
}

.chat-button {
    background: dodgerblue linear-gradient(22deg, aqua, dodgerblue, deeppink) fixed;
    border-radius: 2px;
    border: 1px solid #55c783;
    color: white;
    padding: .1rem .3rem .5rem;
    font-size: 1.2rem;
    font-weight: bold;
    width: 20%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.chat-button:hover {
    background: #894ee8;
    color: black;
}



/*Container Skeleton*/
#wrapper{
margin: 0 auto;
padding-bottom: 25px;
background: #eee;
width: 100%;
border-radius: 4px;
}

/*Chatbox Skeleton*/

#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    font-weight: bolder;
    color: #000;
    height: 77vh;
    width: 100%;
    border: 1px solid #000000;
    overflow: auto;
    border-radius: 4px;
    border-bottom: 4px solid #a7a7a7;
}

#chatbox .box-bundle {
  appearance: none;
  background: dodgerblue linear-gradient(22deg, aqua, dodgerblue, deeppink) fixed;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  width: fit-content;
  padding: 5px;
  margin: 150px auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#chatbox .box-bundle ul li {
    list-style-type: none;
    padding: 5px;
    margin: 4px;
    border-radius: 5px;
    color: white;
}

/*Menu Skeleton*/
#menu {
    padding: 10px 20px;
    display: flex;
}

#menu .welcome {
    flex: 1;
    
}

/*Darkmode Skeleton*/
.darkmode {
    background: #012549;
    color: white;
    padding: 1px 4px;
    border-radius: 4px;
    font-weight: bold;
}

.dark-mode #chatbox {
    background: #0b0a14;
}

.dark-mode #menu {
    color: #f7f0e9;
    background-color: #000;
}

.dark-mode .chat li {
    color: white;
}

.dark-mode .chat-item {
    background: #3f9342;
}

.dark-mode .reply-item {
    background: gray;
}

/*Chat-Containers Skeleton*/

.chat-item {
    padding: 5px;
    border-radius: 5px;
    background: #ccc;
    color: rgb(0, 0, 0);  
    width: fit-content;
    float: right;
    font-weight: 900;
    margin: 20px auto;
    margin-right: 25px;
    
}


.reply-item {
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    background: #ccc;
    color: #000000;
    width: 350px;
    float: left;
    margin: 20px auto;
    margin-right: 25px;
}