
/*CS Skeleton */
* {
    margin: 0;
    padding: 0;
}

/*List Skeleton*/

li {
    list-style: none;
}

/*Body Skeleton*/

body {
    margin: 0px auto;
    font-weight: 300;
    color: #0a0137;
}

/*Form Skeleton*/

form {
    padding: 5px 25px;
    display: flex;
    font-weight: bolder;
    gap: 10px;
    justify-content: center;
}

#usermsg {
    flex: 1;
    border-radius: 4px;
    border: 1px solid #55c783;
    padding: .2rem .5rem .5rem;
}

.chat-button {
    background: dodgerblue linear-gradient(22deg, aqua, dodgerblue, deeppink) fixed;
    border-radius: 2px;
    border: 1px solid #55c783;
    color: white;
    padding: .1rem .3rem .5rem;
    font-size: 1.2rem;
    font-weight: bold;
    width: 20%;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.chat-button:hover {
    background: #894ee8;
    color: black;
}



/*Container Skeleton*/
#wrapper{
margin: 0 auto;
padding-bottom: 25px;
background: #eee;
width: 100%;
border-radius: 4px;
}

/*Chatbox Skeleton*/

#chatbox {
    text-align: left;
    margin: 0 auto;
    margin-bottom: 25px;
    padding: 10px;
    background: #fff;
    font-weight: bolder;
    color: #000;
    height: 77vh;
    width: 100%;
    border: 1px solid #000000;
    overflow: auto;
    border-radius: 4px;
    border-bottom: 4px solid #a7a7a7;
}

#chatbox .box-bundle {
  appearance: none;
  background: dodgerblue linear-gradient(22deg, aqua, dodgerblue, deeppink) fixed;
  border-radius: 15px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  width: fit-content;
  padding: 5px;
  margin: 150px auto;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#chatbox .box-bundle ul li {
    list-style-type: none;
    padding: 5px;
    margin: 4px;
    border-radius: 5px;
    color: white;
}

/*Menu Skeleton*/
#menu {
    padding: 10px 20px;
    display: flex;
}

#menu .welcome {
    flex: 1;
    
}

/*Darkmode Skeleton*/
body.dark #chatbox {
	background: #292C35;
}

body.dark .chat-item {
    background-color: #315f3a;
    color: white;
}

body.dark .reply-item{
    background-color: #767676;
    color: white;
}

body.dark #menu {
    background: #292C35; 
}
body.dark #menu .welcome {
    color: white;
}

body.dark #wrapper {
    background: #292C35; 
}
body.dark form {
    background: #292C35; 
}
body.dark input {
    background: #292C35; 
    color: white;
}


/*Label */

label {
    margin-top: 10px;
}

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: dodgerblue;
	border-radius: 100%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}

/*Chat-Containers Skeleton*/

.chat-item {
    padding: 5px;
    border-radius: 5px;
    background: #ccc;
    color: rgb(0, 0, 0);  
    width: fit-content;
    float: right;
    font-weight: 900;
    margin: 20px;
    margin-right: 25px;
    
}


.reply-item {
    padding: 5px 5px 5px 10px;
    border-radius: 5px;
    background: #ccc;
    color: #000000;
    width: 350px;
    float: left;
    margin: 20px auto;
    margin-right: 55px;
}